
#container{

  position: absolute;
  width: calc(100% - (17.5% + 2px));
  left: calc(17.5% + 2px);
  padding: 0;
  margin: 0;
  top:calc(15% + 8px);
  height: calc(100% - (15% + 8px));;
  background: black;
}

#myMovie
{
  display: none;
}
#detailsContainer
{
  display: none;
  z-index: 100;
}
