<div id="container">
  <div>
    <input type="text" id="any" (input)="onSearchChange($event.target.value)">
  </div>
  <div id="myMovie">
    <div>
      <h2 style="color: white"> Wynikow {{tableData?.length}}</h2>
    </div>
    <!--<img *ngFor="let movie of movies" src="{{movie.Poster}}">-->

    <app-my-table (click)="performAction($event.target)" [tableData]="tableData" #myChild
                  [columnHeader]="columnHeader"></app-my-table>
    <app-movie-details-component [movieTitle]="movieTitle" id="detailsContainer" #myMoveDetails>
      <div sample id="addMovieToRoom"><h2>Dodaj film do sali</h2>
        <form class="example-form" (ngSubmit)="addTo()" [formGroup]="newMovieForm">
        <div>
            <label for="items">Numer sali: </label>
            <select id="items" (change)="selectedType($event.target.value)">
              <option *ngFor="let room of allRooms" value="{{room.roomNumber}}">{{room.roomNumber}}</option>
            </select>
        </div>
          <div>
          <label>
            Godzina seansu:
            <input required formControlName="dateTime"
              [(ngModel)]="dateTime"
              [owlDateTimeTrigger]="dt" [owlDateTime]="dt"
              (ngModelChange)="onChange($event)">
            <owl-date-time #dt></owl-date-time>
          </label>
          </div>
          <div>
          <button class="myButton" [disabled]="!newMovieForm.valid"> Zapisz
          </button>
          </div>
        </form>
      </div>
    </app-movie-details-component>

    <router-outlet></router-outlet>
  </div>
</div>
