@import '../../../globalScssVariables';


#container{

  position: absolute;
  width: calc(100% - (17.5% + 2px));
  left: calc(17.5% + 2px);
  padding: 0;
  margin: 0;
  top:calc(15% + 8px);
  height: calc(100% - (15% + 8px));;
  background: black;
}

#myMovie
{
  display: none;
}
#detailsContainer
{
  position: absolute;
  left:0%;
  top:0%;
  width: 90%;
  height: 90%;
  display: none;
  z-index: 1000;
}


#addMovieToRoom
{
  box-shadow: -10px 0px 8px 0px $primary;
  text-align: center;
  position: absolute;
  top:0%;
  right: 5%;
  width: 30%;
  height: 100%;
}
