<div id="container">
  <div id="reserveTicketDetails">
    <div id="content">
    <h2>Kupujesz bilet na film: {{movie.title}}</h2>
    <h2>Data: {{movie.showStartsAt | date:'MMM d, y, H:mm':'pl'}}</h2>
    <table>
      <tr>
        <th>Miejsce</th>
        <th>Cena</th>
      </tr>
      <tr *ngFor="let seat of seats">
        <td>{{seat.seatNumber}}</td>
        <td>{{movie.ticketPrice}}[zł]</td>
      </tr>
    </table>
      <button (click)="confirmReservation()"  class="myButton"> Kup bilety
      </button>
    </div>
  </div>
</div>
