@import '../../../globalScssVariables';

#filtrInput ::ng-deep .mat-form-field-underline .mat-form-field-ripple, #filtrInput ::ng-deep .mat-form-field-underline, #rankingTableHolder::-webkit-scrollbar{

  background:$white;


}

.imageInTableCell
{
  width: 140px;
  height: 240px;
}
#filtrInput
{
  opacity: 0.8 !important;
  background: $darken;
  color: $primary;
  z-index: 200;
  left:35%;
  padding: 5px;
  top:14%;
  position: absolute;
  width: 200px;
  border: 2px solid black;
}
#rankingTableHolder {
  opacity: 0.95;
  position: absolute;
  left: 20%;
  top:37%;
  width: 70%;
  height: 60%;
  overflow-y: scroll;

}

 #rankingTable {
  background: $darken;
  box-shadow: none;
   width: 100%;
}

#rankingTableBackground {
  position: absolute;
  width: 100%;
  height: 101%;
  background: $black;
}
::ng-deep .mat-row
{
  text-align: left;
}
.mat-row td,#guildContentInfo,#userStatistics tr:nth-child(3n),#guildData tr:nth-child(3n),#guildMembers tr:nth-child(3n+1)
{
  color: $primary;
}
.mat-row:hover{
  font-weight: bold;
  cursor: pointer;
}
::ng-deep th.mat-header-cell
{
  background: $darken !important;
  color: $white !important;
  font-size: 1rem !important;
  min-width: 100%;
  border-bottom: 2px solid $white;
  z-index: 300;
  width: 200px;

}

#rankingTableHolder::-webkit-scrollbar-track {
  border-radius: 12px;
}

#rankingTableHolder::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: $darken;
}
input ::ng-deep, #textAreaContent ::ng-deep{
  font-size: 30px;
  background: $darken;
  padding: 1%;
}
th.mat-sort-header-sorted {
  color: $primary;
}
::ng-deep .mat-sort-header-sorted {
  color:   $primary;

}
